<%= form_for( @photo ) do |f| %>
  <div id="upload_file">
    <button class="upload_button">Upload photo</button>

    <input id="file_photo" >

    <%= f.file_field :pictures, { id: "upload" } %>
  </div>
<% end %>
